<body >

  <div class="mt-5 text-center">
  <label><h1>VIEW TOTAL ROLES</h1></label>
  </div>
  <div class="search-list" >
    <input  type="text" name="search" id="listsearch" class="form-control search-field user_Firstname" placeholder="search" [(ngModel)]="searchText">
  </div><br>
<table class="table table-striped table-warning">
  <thead>
    <tr>
      <th scope="col"  [appSort]="Roles"  data-order="desc" data-name="role_Id">Role Id</th>
      <th scope="col" [appSort]="Roles"  data-order="desc" data-name="role_Name">Role Name</th>
      <th scope="col" [appSort]="Roles"  data-order="desc" data-name="role_Uniqid">Role Uniqid</th>
      <th scope="col" [appSort]="Roles"  data-order="desc" data-name="role_Type">Role Type</th>
      <th scope="col" [appSort]="Roles"  data-order="desc" data-name="user_Id">Role Status</th>

      <th>Buttons</th>


  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of Roles  | paginate: { itemsPerPage: 10, currentPage: p } | search:searchText">

      <td>{{data.role_Id}}</td>
      <td>{{data.role_Name}}</td>
      <td>{{data.role_Uniqid}}</td>
      <td>{{data.role_Type}}</td>
      <td>{{data.role_Status}} </td>

      <ul class="list-inline m-0">
      <li class="list-inline-item">
            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/edit/{{data.role_Id}} "><i class="fa fa-edit">Edit</i></button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash">Delete</i></button>
        </li>
    </ul>
   </tr>
 </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</body>

